<div class="container">
  <style>
      h1 {
          font-family: COMIC SANS MS;
          font-style: italic;
          font-size: 500%
      }
      p {
          font-family: COMIC SANS MS;
          font-style: italic;
          font-size: 130%
      }
  </style>

  <h1 style="color:MediumTurquoise">Well Wisher</h1>
  <p style="color:MediumTurquoise">Create and let the world know what you desire</p>
</div>
</body>
</html>


  <!--<p>Soon at https://wellwisher.herokuapp.com/</p>-->
  <!--<p>Find me in app/views/home/index.html.erb</p>-->