h1 Well Wisher

body
/
/#buttons
/  div.twitter.button
/    i.icon
/    i.icon-twitter
/  div.slide
/  p twitter
/=link_to 'Twitter', 'https://twitter.com/', class: 'twitter-share-button', data: { via: 'mariuCSS' }
//javascript:(!function (d, s, id) {
/var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
/if (!d.getElementById(id)) {
/js = d.createElement(s);
/js.id = id;
/js.src = p + '://platform.twitter.com/widgets.js';
/fjs.parentNode.insertBefore(js, fjs);
/}(document, 'script', 'twitter-wjs');)


- if user_signed_in?
  span Hello, "#{current_user.email}"
  = link_to 'Logout', destroy_user_session_path, method: :delete
- else
  = link_to 'Sign in', new_user_session_path
  span or
  = link_to 'Sign up', new_user_registration_path

<p>Soon at https://wellwisher.herokuapp.com/</p>
<p>Find me in app/views/home/index.html.erb</p>
